In [2]:
%matplotlib inline
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
import math

In [12]:
data = pd.read_csv('data/train.csv', low_memory=False)
data.drop([ 'emp_title','addr_state'], axis=1, inplace=True)

data.replace('n/a', np.nan,inplace=True)
data.emp_length.fillna(value=0,inplace=True)

data['emp_length'].replace(to_replace='[^0-9]+', value='', inplace=True, regex=True)
data['emp_length'] = data['emp_length'].astype(int)

data.head()
data = data.dropna()

In [8]:
data.describe()

,int_rate,installment,emp_length,annual_inc,loan_status,dti,delinq_2yrs,inq_last_6mths,mths_since_last_delinq,open_acc,pub_rec,revol_bal,revol_util,total_acc,collections_12_mths_ex_med,policy_code,acc_now_delinq,tot_coll_amt,tot_cur_bal,total_rev_hi_lim
count,194130.000000,194130.000000,200189.000000,1.941300e+05,194130.000000,194130.000000,194130.000000,194130.000000,87186.000000,194130.000000,194130.000000,194130.000000,193983.000000,194130.000000,194089.000000,194130.0,194130.000000,148687.000000,1.486870e+05,1.486870e+05
mean,13.900001,419.861692,5.504743,7.207736e+04,0.775429,16.740992,0.259470,0.852300,34.980868,10.983733,0.149637,15085.211188,54.495938,25.065678,0.007543,1.0,0.003462,160.720406,1.363270e+05,2.936935e+04
std,4.425849,245.217436,3.697477,5.723087e+04,0.417301,7.864851,0.759106,1.068265,21.840703,4.918953,0.448883,18101.505027,24.740939,11.769352,0.094981,0.0,0.064661,1701.044989,1.494065e+05,2.868059e+04
min,5.320000,15.690000,0.000000,3.000000e+03,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,1.0,0.000000,0.000000,0.000000e+00,0.000000e+00
25%,10.990000,242.350000,2.000000,4.500000e+04,1.000000,10.890000,0.000000,0.000000,16.000000,8.000000,0.000000,5846.000000,36.500000,16.000000,0.000000,1.0,0.000000,0.000000,2.820750e+04,1.320000e+04
50%,13.670000,366.630000,5.000000,6.200000e+04,1.000000,16.400000,0.000000,1.000000,32.000000,10.000000,0.000000,10887.000000,55.900000,23.000000,0.000000,1.0,0.000000,0.000000,7.898400e+04,2.200000e+04
75%,16.820000,548.640000,10.000000,8.600000e+04,1.000000,22.230000,0.000000,1.000000,51.000000,14.000000,0.000000,18975.000000,74.000000,32.000000,0.000000,1.0,0.000000,0.000000,2.053730e+05,3.648500e+04
max,28.990000,1424.570000,10.000000,8.706582e+06,1.000000,57.140000,22.000000,8.000000,151.000000,76.000000,12.000000,975800.000000,892.300000,118.000000,6.000000,1.0,5.000000,296368.000000,8.000078e+06,1.035000e+06

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 71250 entries, 3 to 200188
Data columns (total 34 columns):
loan_amnt                     71250 non-null object
term                          71250 non-null object
int_rate                      71250 non-null float64
installment                   71250 non-null float64
grade                         71250 non-null object
sub_grade                     71250 non-null object
emp_length                    71250 non-null int32
home_ownership                71250 non-null object
annual_inc                    71250 non-null float64
verification_status           71250 non-null object
issue_d                       71250 non-null object
loan_status                   71250 non-null float64
pymnt_plan                    71250 non-null object
purpose                       71250 non-null object
zip_code                      71250 non-null object
dti                           71250 non-null float64
delinq_2yrs                   71250 non-null float64
earliest_cr_line              71250 non-null object
inq_last_6mths                71250 non-null float64
mths_since_last_delinq        71250 non-null float64
open_acc                      71250 non-null float64
pub_rec                       71250 non-null float64
revol_bal                     71250 non-null float64
revol_util                    71250 non-null float64
total_acc                     71250 non-null float64
initial_list_status           71250 non-null object
collections_12_mths_ex_med    71250 non-null float64
policy_code                   71250 non-null float64
application_type              71250 non-null object
acc_now_delinq                71250 non-null float64
tot_coll_amt                  71250 non-null float64
tot_cur_bal                   71250 non-null float64
total_rev_hi_lim              71250 non-null float64
record_id;;                   71250 non-null object
dtypes: float64(19), int32(1), object(14)
memory usage: 18.8+ MB

In [15]:
y = data.term

cols = ['loan_amnt', 'int_rate',  'emp_length']
X = pd.get_dummies(data[cols])

from sklearn import preprocessing

y = y.apply(lambda x: x.lstrip())

le = preprocessing.LabelEncoder()
le.fit(y)

y = le.transform(y)
X = X.as_matrix()

from sklearn import linear_model

logistic = linear_model.LogisticRegression()

logistic.fit(X, y)

C:\Users\Nastassia\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.

C:\Users\Nastassia\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)