<center>
<img src="../img/python_theme.png">
# MLClass. "Прикладной анализ данных"
# Модуль "Инструментарий Data Science"
<img src="../img/mlclass_logo.jpg" height="240" width="240">

## Автор материала: Юрий Кашницкий, ФКН НИУ ВШЭ
</center>
Материал распространяется на условиях лицензии <a href="https://opensource.org/licenses/MS-RL">Ms-RL</a>. Можно использовать в любых целях, кроме коммерческих, но с обязательным упоминанием автора материала.

# Задачи к уроку 2
http://informatics.mccme.ru/mod/statements/view.php?id=16205

In [ ]:
# Python 2 and 3 compatibility
# pip install future
from __future__ import (absolute_import, division,
                        print_function, unicode_literals)
from builtins import *

## Задача A
Вычислите $2^{179}$. Выведите на экран вычисленное значение.

In [8]:
print(2**179)

766247770432944429179173513575154591809369561091801088

## Задача B
Вычислите 20!. Выведите на экран вычисленное значение.

In [9]:
number=1
result=0
while number < 20:    
    result = number * (number + 1)
    number = number + 1
print(result)

380

## Задача C
Вычислите длину гипотенузы в прямоугольном треугольнике со сторонами 179 и 971.

In [10]:
result = 179**2 + 971**2
print(result)

974882

## Задача D
Запишите букву 'A' (латинскую, заглавную) 100 раз подряд. Сдайте на проверку программу, которая выводит эту строчку (только буквы, без кавычек).

In [1]:
print('А'*100)

АААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААА

## Задача E
Даны два целых числа. Выведите значение наибольшего из них.

In [11]:
a = int(input("Insert a: "))
b = int(input("Insert b: "))
if(a > b):
    print(a)
else:
    print(b)

Insert a: 12
Insert b: 3
12

## Задача F
Даны два целых числа. Программа должна вывести число 1, если первое число больше второго, число 2, если второе больше первого или число 0, если они равны.

In [12]:
a = int(input("Insert a: "))
b = int(input("Insert b: "))
if (a > b):
    print(1)
elif (b > a):
    print(2)
else:
    print(0)

Insert a: 12
Insert b: 34
2

## Задача G
Число 179 записали 50 раз подряд. Полученное 150-значное число возвели в квадрат. Сколько получилось?

In [2]:
result = int('179'*50)**2
print(result)

32105178251324397470543616689762835908982055128201274347420493566639712785858932005078151224297370443516589662735808881955028101174247320393466539612621548475402329256183110036963890817744671598525452379306233160087013940867794721648575502429356283210137063990917844771698625552479406333260187114041

## Задача H
Дано два числа a и b. Выведите гипотенузу треугольника с заданными катетами.

In [3]:
a = float(input("Insert a: "))
b = float(input("Insert b: "))
result = a**2 + b**2
print(result)

Insert a: 4
Insert b: 5
41.0

## Задача I
Даны три целых числа. Найдите наибольшее из них (программа должна вывести ровно одно целое число).
Какое наименьшее число операторов сравнения (>, <, >=, <=) необходимо для решения этой задачи?

In [14]:
a = int(input("Insert a: "))
b = int(input("Insert b: "))
c = int(input("Insert c: "))
if a >= b and a >= c:
    print(a)
elif b >= c:
    print(b)
else:
    print(c)

Insert a: 8
Insert b: 7
Insert c: 9
9

## Задача J
Даны три натуральных числа a, b, c. Определите, существует ли треугольник с такими сторонами. Если треугольник существует, выведите строку YES, иначе выведите строку NO.
Треугольник — это три точки, не лежащие на одной прямой.

In [16]:
a = int(input("Insert a: "))
b = int(input("Insert b: "))
c = int(input("Insert c: "))
if (c >= (a + b)) or (b >= (a + c)) or (a >= (b + c)):
  print ("No")
else:
  print ("Yes")

Insert a: 3
Insert b: 4
Insert c: 5
Yes

## Задача K
Шахматная ладья ходит по горизонтали или вертикали. Даны две различные клетки шахматной доски, определите, может ли ладья попасть с первой клетки на вторую одним ходом.

In [17]:
x1 = int(input("Insert x1: "))
y1 = int(input("Insert y1: "))
x2 = int(input("Insert x2: "))
y2 = int(input("Insert x2: "))

if x1 == x2 and y1 ==y2:
    print('Yes')
else:
    print('No')

Insert x1: 2
Insert y1: 3
Insert x2: 2
Insert x2: 3
Yes

## Задача L
Число $179^{10}$ записали четыре раза подряд. Из получившегося числа извлекли корень степени 10. Сколько получилось?

In [1]:
result = int(str(179**10)*4)**(1/10)
print(result)

1421847540.1564655

## Задача M
Дано натуральное число. Требуется определить, является ли год с данным номером високосным. Если год является високосным, то выведите YES, иначе выведите NO. Напомним, что в соответствии с григорианским календарем, год является високосным, если его номер кратен 4, но не кратен 100, а также если он кратен 400.

In [2]:
year = int(input("Insert year and press Enter:"))

if year > 30000:
    print ("Year should be <= 30000")
    year = int(input("Insert year and press Enter:"))
    
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print("YES")
else:
    print("NO")

Insert year and press Enter:2019
NO

## Задача N
Шахматный конь ходит буквой “Г” — на две клетки по вертикали в любом направлении и на одну клетку по горизонтали или наоборот. Даны две различные клетки шахматной доски, определите, может ли конь попасть с первой клетки на вторую одним ходом.

In [3]:
x1 = int(input("Insert x1: "))
y1 = int(input("Insert y1: "))
x2 = int(input("Insert x2: "))
y2 = int(input("Insert x2: "))

dx = abs(x1 - x2)
dy = abs(y1 - y2)
if dx == 1 and dy == 2 or dx == 2 and dy == 1:
    print('Yes')
else:
    print('No')

Insert x1: 9
Insert y1: 2
Insert x2: 7
Insert x2: 3
Yes

#