In [1]:
%matplotlib inline
import pandas as pd
import random
from matplotlib import pyplot as plt
import numpy as np
import math
import seaborn as sns
from sklearn import metrics
from sklearn.metrics import accuracy_score
from sklearn import model_selection
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [2]:
df = pd.read_csv('data/train.csv')

In [3]:
df.head()

,loan_amnt,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,...,total_acc,initial_list_status,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,tot_coll_amt,tot_cur_bal,total_rev_hi_lim,record_id
0,15000.0,36 months,11.99,498.15,B,B3,Quality Assurance Specialist,4 years,MORTGAGE,70000.0,...,32.0,f,0.0,1.0,INDIVIDUAL,0.0,0.0,295215.0,20500.0,453246940
1,3725.0,36 months,6.03,113.38,A,A1,NaN,NaN,MORTGAGE,52260.0,...,9.0,f,0.0,1.0,INDIVIDUAL,0.0,0.0,25130.0,14200.0,453313687
2,16000.0,36 months,11.14,524.89,B,B2,KIPP NYC,3 years,RENT,67500.0,...,22.0,f,0.0,1.0,INDIVIDUAL,0.0,193.0,41737.0,19448.0,453283543
3,4200.0,36 months,13.33,142.19,C,C3,Receptionist,< 1 year,MORTGAGE,21600.0,...,19.0,w,0.0,1.0,INDIVIDUAL,0.0,165.0,28187.0,14500.0,453447199
4,6500.0,36 months,12.69,218.05,B,B5,Medtox Laboratories,10+ years,RENT,41000.0,...,12.0,f,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN,453350283

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200189 entries, 0 to 200188
Data columns (total 44 columns):
loan_amnt                     200189 non-null float64
int_rate                      200189 non-null float64
installment                   200189 non-null float64
emp_length                    200189 non-null int32
annual_inc                    200189 non-null float64
loan_status                   200189 non-null int64
zip_code                      200189 non-null int32
dti                           200189 non-null float64
delinq_2yrs                   200189 non-null float64
inq_last_6mths                200189 non-null float64
mths_since_last_delinq        200189 non-null float64
open_acc                      200189 non-null float64
pub_rec                       200189 non-null float64
revol_bal                     200189 non-null float64
revol_util                    200189 non-null float64
total_acc                     200189 non-null float64
collections_12_mths_ex_med    200189 non-null float64
policy_code                   200189 non-null float64
acc_now_delinq                200189 non-null float64
tot_coll_amt                  200189 non-null float64
tot_cur_bal                   200189 non-null float64
total_rev_hi_lim              200189 non-null float64
record_id                     200189 non-null int64
is_title_known                200189 non-null int64
is_delinq_occurs              200189 non-null int64
term_le                       200189 non-null int32
grade_le                      200189 non-null int32
sub_grade_le                  200189 non-null int32
ANY                           200189 non-null uint8
MORTGAGE                      200189 non-null uint8
NONE                          200189 non-null uint8
OTHER                         200189 non-null uint8
OWN                           200189 non-null uint8
RENT                          200189 non-null uint8
Not Verified                  200189 non-null uint8
Source Verified               200189 non-null uint8
Verified                      200189 non-null uint8
issue_d_le                    200189 non-null float64
pymnt_plan_le                 200189 non-null int32
purpose_le                    200189 non-null int32
addr_state_le                 200189 non-null int32
earliest_cr_line_le           200189 non-null float64
initial_list_status_le        200189 non-null int32
application_type_le           200189 non-null int32
dtypes: float64(21), int32(10), int64(4), uint8(9)
memory usage: 47.5 MB

In [5]:
df['is_title_known'] = df['emp_title'].map(lambda x: 0 if x == 'n/a' else 1)
df.drop('emp_title', axis=1, inplace=True)

In [6]:
df['is_delinq_occurs'] = df['mths_since_last_delinq'].map(lambda x: 0 if math.isnan(x) else 1)

max_mths_since_last_delinq = np.nanmax(df.mths_since_last_delinq.values)
df['mths_since_last_delinq'].fillna(max_mths_since_last_delinq, inplace=True)

In [7]:
df.revol_util.fillna(value=0,inplace=True)
df.collections_12_mths_ex_med.fillna(value=0,inplace=True)
df.tot_coll_amt.fillna(value=0,inplace=True)
df.tot_cur_bal.fillna(value=0,inplace=True)
df.total_rev_hi_lim.fillna(value=0,inplace=True)

In [8]:
def encode_with_LabelEncoder(df, column_name):
    label_encoder = LabelEncoder()
    label_encoder.fit(df[column_name])
    df[column_name+'_le'] = label_encoder.transform(df[column_name])
    df.drop([column_name], axis=1, inplace=True)
    return label_encoder

In [9]:
term_le_encoder = encode_with_LabelEncoder(df,'term')

In [10]:
grade_le_encoder = encode_with_LabelEncoder(df,'grade')
sub_grade_le_encoder = encode_with_LabelEncoder(df,'sub_grade')

In [11]:
df.emp_length.fillna(value=0,inplace=True)
df['emp_length'].replace(to_replace='[^0-9]+', value='', inplace=True, regex=True)
df['emp_length'] = df['emp_length'].astype(int)

In [12]:
one_hot_encoded_home_ownership = pd.get_dummies(df.home_ownership)
df = df.drop('home_ownership',axis = 1)

df = df.join(one_hot_encoded_home_ownership)

In [13]:
one_hot_encoded_verification_status = pd.get_dummies(df.verification_status)
df = df.drop('verification_status',axis = 1)

df = df.join(one_hot_encoded_verification_status)

In [14]:
def month_to_decimal(month):
    month_dict = {'Jan':0, 'Feb':1/12., 'Mar':2/12., 'Apr':3/12., 'May':4/12., 'Jun':5/12., 
     'Jul':6/12., 'Aug':7/12., 'Sep':8/12., 'Oct':9/12., 'Nov':10/12., 'Dec':11/12.}
    return month_dict[month]

def convert_date(month_year):
    month_and_year = month_year.split('-')
    return float(month_and_year[1]) + month_to_decimal(month_and_year[0])
def encode_with_func(df, column_name, func_name):
    df[column_name+'_le'] = df[column_name].map(func_name)
    df.drop(column_name, axis=1, inplace=True)

encode_with_func(df, 'issue_d', convert_date)

In [15]:
pymnt_plan_le_encoder = encode_with_LabelEncoder(df,'pymnt_plan')

In [16]:
purpose_le_encoder = encode_with_LabelEncoder(df,'purpose')

In [17]:
addr_state_le_encoder = encode_with_LabelEncoder(df,'addr_state')

In [18]:
encode_with_func(df, 'earliest_cr_line', convert_date)

In [19]:
initial_list_status_le_encoder = encode_with_LabelEncoder(df,'initial_list_status')

In [20]:
application_type_le_encoder = encode_with_LabelEncoder(df,'application_type')

In [21]:
df['zip_code'] = df['zip_code'].where(df['zip_code'].str.len() == 4, 
                                               df['zip_code'].str[:3])
df['zip_code'] = df['zip_code'].astype(int)

In [22]:
Y = df['loan_status'].values

X = df.drop(['loan_status'], axis=1)

x_train, x_test, y_train, y_test = model_selection.train_test_split(X, Y, test_size=0.3, random_state=42)

In [23]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.fit_transform(x_test)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype uint8, int32, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:462: DataConversionWarning: Data with input dtype uint8, int32, int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype uint8, int32, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:462: DataConversionWarning: Data with input dtype uint8, int32, int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [24]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(penalty = 'l1',random_state=42)
classifier.fit(x_train,y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l1', random_state=42, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [25]:
from sklearn.linear_model import LogisticRegression
classifier1 = LogisticRegression(penalty = 'l2',random_state=42)
classifier1.fit(x_train,y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=42, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [26]:
y_pred = classifier.predict(x_test)

In [27]:
y_pred1 = classifier1.predict(x_test)

In [28]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test,y_pred)
cm1 = confusion_matrix(y_test,y_pred1)

In [29]:
cm

array([[ 1459, 11812],
       [ 1241, 45545]], dtype=int64)

In [30]:
cm1

array([[ 1459, 11812],
       [ 1242, 45544]], dtype=int64)

In [31]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))
print("Precision:",metrics.precision_score(y_test, y_pred))
print("Recall:",metrics.recall_score(y_test, y_pred))

Accuracy: 0.7826564763474699
Precision: 0.7940617535784648
Recall: 0.9734749711452144

In [32]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred1))
print("Precision:",metrics.precision_score(y_test, y_pred1))
print("Recall:",metrics.recall_score(y_test, y_pred1))

Accuracy: 0.7826398254991092
Precision: 0.7940581630518168
Recall: 0.9734535972299406