<center>
<img src="../../img/ods_stickers.jpg">
## Открытый курс по машинному обучению
<center>
Автор материала: Юрий Кашницкий, программист-исследователь Mail.Ru Group <br> 

Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

# <center>Домашнее задание № 1 (демо).<br> Анализ данных по доходу населения UCI Adult</center>

**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным репозитория UCI [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) (качать данные не надо – они уже есть в репозитории). Для отправки решений используйте [онлайн-форму](https://docs.google.com/forms/d/1xAzU-5N6oEeR4UG8G44V6XL-Kbr4WYcPBG45Kijge2Y).**

Уникальные значения признаков (больше информации по ссылке выше):
- age: continuous.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- fnlwgt: continuous.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- education-num: continuous.
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- salary: >50K,<=50K

In [2]:
import pandas as pd

In [5]:
data = pd.read_csv('adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Сколько мужчин и женщин (признак *sex*) представлено в этом наборе данных?**

In [6]:
import pandas as pd
data = pd.read_csv('adult.data.csv')
pd.set_option('precision', 2)
data ['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

**2. Каков средний возраст (признак *age*) женщин?**

In [60]:
round(data[data['sex'] == 'Female']['age'].mean(),  2)

36.86

**3. Какова доля граждан Германии (признак *native-country*)?**

In [87]:
print('Доля граждан Германии в процентах: {0}'.format(data[data['native-country'] =='Germany'].shape[0] / data.shape[0] * 100))

Доля граждан Германии в процентах: 0.42074874850281013

**4-5. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год? **

In [74]:
print(">50K: среднее значение возраста {0}, среднеквадратичное отклонение {1}".format(round(data[data['salary'] == '>50K']['age'].mean(),2), round(data[data['salary'] == '>50K']['age'].std(),2)))
print("<=50K: среднее значение возраста {0}, среднеквадратичное отклонение {1}".format(round(data[data['salary'] == '<=50K']['age'].mean(),2), round(data[data['salary'] == '<=50K']['age'].std(),2)))

>50K: среднее значение возраста 44.25, среднеквадратичное отклонение 10.52
<=50K: среднее значение возраста 36.78, среднеквадратичное отклонение 14.02

**6. Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [130]:
data[data['salary'] == '>50K']['education'].value_counts()
for i in data[data['salary'] == '>50K']['education']:
    if i not in ['Bachelors','Prof-school', 'Assoc-acdm', 'Assos-voc', 'Masters','Doctorate']:
        print('False')
        break

False

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Amer-Indian-Eskimo*.**

In [35]:
for i, sub in data.groupby('race'):
    print(i)    
    print(sub.describe())

Amer-Indian-Eskimo
          age     fnlwgt  education-num  capital-gain  capital-loss  \
count  311.00     311.00         311.00        311.00        311.00
mean    37.17  120831.15           9.31        625.27         34.18
std     12.45   88338.64           2.31       2753.24        245.58
min     17.00   12285.00           2.00          0.00          0.00
25%     28.00   35036.50           9.00          0.00          0.00
50%     35.00  102541.00           9.00          0.00          0.00
75%     45.50  176142.00          10.00          0.00          0.00
max     82.00  445168.00          16.00      27828.00       1980.00

       hours-per-week
count          311.00
mean            40.05
std             11.70
min              3.00
25%             40.00
50%             40.00
75%             40.00
max             84.00
Asian-Pac-Islander
           age     fnlwgt  education-num  capital-gain  capital-loss  \
count  1039.00    1039.00        1039.00       1039.00       1039.00
mean     37.75  159940.61          10.96       1478.36         97.22
std      12.83   85122.31           2.81       9986.16        423.56
min      17.00   14878.00           1.00          0.00          0.00
25%      28.00   93321.00           9.00          0.00          0.00
50%      36.00  143098.00          10.00          0.00          0.00
75%      45.00  194456.00          13.00          0.00          0.00
max      90.00  506329.00          16.00      99999.00       2457.00

       hours-per-week
count         1039.00
mean            40.13
std             12.56
min              1.00
25%             40.00
50%             40.00
75%             40.00
max             99.00
Black
           age    fnlwgt  education-num  capital-gain  capital-loss  \
count  3124.00  3.12e+03        3124.00       3124.00       3124.00
mean     37.77  2.28e+05           9.49        609.94         60.39
std      12.76  1.24e+05           2.30       5139.65        337.39
min      17.00  1.98e+04           1.00          0.00          0.00
25%      28.00  1.48e+05           9.00          0.00          0.00
50%      36.00  2.06e+05           9.00          0.00          0.00
75%      46.00  2.82e+05          10.00          0.00          0.00
max      90.00  1.27e+06          16.00      99999.00       4356.00

       hours-per-week
count         3124.00
mean            38.42
std             10.32
min              1.00
25%             37.00
50%             40.00
75%             40.00
max             99.00
Other
          age     fnlwgt  education-num  capital-gain  capital-loss  \
count  271.00     271.00         271.00        271.00        271.00
mean    33.46  197124.19           8.84        934.66         61.07
std     11.54   88856.78           3.23       8625.13        322.45
min     17.00   24562.00           1.00          0.00          0.00
25%     25.00  138103.00           7.50          0.00          0.00
50%     31.00  188793.00           9.00          0.00          0.00
75%     41.00  240091.00          10.00          0.00          0.00
max     77.00  481175.00          16.00      99999.00       2179.00

       hours-per-week
count          271.00
mean            39.47
std             11.14
min              5.00
25%             36.00
50%             40.00
75%             40.00
max             98.00
White
            age    fnlwgt  education-num  capital-gain  capital-loss  \
count  27816.00  2.78e+04       27816.00      27816.00      27816.00
mean      38.77  1.87e+05          10.14       1121.66         90.81
std       13.78  1.03e+05           2.57       7504.53        410.83
min       17.00  1.88e+04           1.00          0.00          0.00
25%       28.00  1.17e+05           9.00          0.00          0.00
50%       37.00  1.78e+05          10.00          0.00          0.00
75%       48.00  2.34e+05          13.00          0.00          0.00
max       90.00  1.48e+06          16.00      99999.00       4356.00

       hours-per-week
count        27816.00
mean            40.69
std             12.54
min              1.00
25%             40.00
50%             40.00
75%             45.00
max             99.00

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [16]:
married_men = data['salary'][(data['sex'] == 'Male') & (data['marital-status'].str.startswith("Married"))].value_counts(normalize=True)['>50K']
alone_men = data['salary'][data['sex'] == 'Male'][(data['marital-status'] == 'Divorced') | 
                             (data['marital-status'] == 'Never-married') | 
                             (data['marital-status'] == 'Separated')| 
                             (data['marital-status'] == 'Widowed')].value_counts(normalize=True)['>50K']
print('Доля женатых мужчин, зарабатывающих много: {0} \nДоля холостых мужчин, зарабатывающих много: {1}'.format(married_men, alone_men))

Доля женатых мужчин, зарабатывающих много: 0.4405139945351156
Доля холостых мужчин, зарабатывающих много: 0.08449509031397745

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [109]:
max_hours = data['hours-per-week'].max()
print("Максимальное количество часов: ", max_hours)
quant_max = data[data['hours-per-week'] == max_hours].shape[0]
print("Количество людей, работающих макс. часов: ", quant_max)
print("Процент, зарабатывающих много и работающих макс. часов: ",data[(data['hours-per-week'] == max_hours) & (data['salary'] == '>50K')].shape[0] / quant_max * 100)

Максимальное количество часов:  99
Количество людей, работающих макс. часов:  85
Процент, зарабатывающих много и работающих макс. часов:  29.411764705882355

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [131]:
pd.crosstab(data['native-country'], data['salary'], values = data['hours-per-week'], aggfunc = 'mean')

salary                      <=50K   >50K
native-country
?                           40.16  45.55
Cambodia                    41.42  40.00
Canada                      37.91  45.64
China                       37.38  38.90
Columbia                    38.68  50.00
Cuba                        37.99  42.44
Dominican-Republic          42.34  47.00
Ecuador                     38.04  48.75
El-Salvador                 36.03  45.00
England                     40.48  44.53
France                      41.06  50.75
Germany                     39.14  44.98
Greece                      41.81  50.62
Guatemala                   39.36  36.67
Haiti                       36.33  42.75
Holand-Netherlands          40.00    NaN
Honduras                    34.33  60.00
Hong                        39.14  45.00
Hungary                     31.30  50.00
India                       38.23  46.48
Iran                        41.44  47.50
Ireland                     40.95  48.00
Italy                       39.62  45.40
Jamaica                     38.24  41.10
Japan                       41.00  47.96
Laos                        40.38  40.00
Mexico                      40.00  46.58
Nicaragua                   36.09  37.50
Outlying-US(Guam-USVI-etc)  41.86    NaN
Peru                        35.07  40.00
Philippines                 38.07  43.03
Poland                      38.17  39.00
Portugal                    41.94  41.50
Puerto-Rico                 38.47  39.42
Scotland                    39.44  46.67
South                       40.16  51.44
Taiwan                      33.77  46.80
Thailand                    42.87  58.33
Trinadad&Tobago             37.06  40.00
United-States               38.80  45.51
Vietnam                     37.19  39.20
Yugoslavia                  41.60  49.50